.App {
  text-align: center;
 
}
* {
  background-color: #fffafa;
}
.menu {
  color: rgb(70, 70, 70);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 10px;
}
.menu-right {
  display: flex;
  align-items: center;
}
.menu ul {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu ul li {
  padding: 0;
  margin: 2px 20px;
  cursor: pointer;
}
.mobile-icon {
  color: #a3749b;
  display: none;
}

@media(200px <= width <=450px){

  .menu-right{
    background-color: #bebebe;
  }
  .menu ul{
    display: block;
  }
  .mobile-icon{
    display: block;
    height: 10px;
    padding: 20px;
    
  }
}
